.footer {
  background-color: var(--color-primary);
  padding: 3rem 0;
  text-align: center;
  margin-top: 7rem;

  &__logo {
    display: flex;
    background-image: url("../../assets/Logo.jpg");
    height: 140px;
    width: 140px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;

    a {
      font-weight: bold;
      font-size: 1.2rem;
      color: var(--color-bg);
    }
  }

  &__copyright {
    margin-bottom: 4rem;
    color: var(--color-bg);
  }
}